  .skills {
    background: white;
    text-align: center;
    box-sizing: border-box;
    border: 15px solid #F1C40F;
    border-radius: 19px;
    padding: 0.5%;
    transition: width 0.2s;
    .image-holder{
      height: 5em;
      line-height: 5em;
      margin-top:2em;
      img{
        width: 10rem;
      }
    }
    .name{
      font-size: 2rem;
      font-weight: 300;
      height: 2em;
      line-height: 1em;
      margin: 2em auto 0.1em auto;
    }
    .discription{
      font-size: 1.2rem;
      height: 6em;
    }
}
